#img{
    font-family: 'Playfair Display', serif;
    font-family: 'Teko', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background: url("/image/pondy.jpg");
    
    background-size: cover;
    text-align: center;
    color: rgb(249, 249, 249);
    width: 100%;
    height: 500px;
    position: relative;
    

}
#plc{
    position: absolute;
    left: 800;
    margin-top: auto;
    color: white;
}

.flex{
   display: flex;
   justify-content:space-around ;
   color: white;
}
.flex img{
    padding: 20%;
    border-radius: 50%;
}

#heading
{
    position: absolute;
    top: 50px;
    left: 700px;
}

.second-section{
    
    background: linear-gradient(45deg,rgb(233, 106, 15),rgb(6, 71, 235));
}



.third{
    margin-top: 20px;
    width: 400px;
    margin-left: 15px;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: linear-gradient(45deg,rgb(233, 106, 15),rgb(6, 71, 235));
    color: white;
    border-bottom: 2px solid #d8cefe;
    margin-left: auto;
}